/* font css  */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Finlandica:ital,wght@1,500&family=Poppins:wght@300&family=Roboto+Mono:ital,wght@1,200;1,400&family=Ubuntu:wght@500;700&display=swap');

/* common css  */
body {
    font-family: 'Bitter', serif;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}

section {
    margin-top: 100px;
    margin-bottom: 80px;
}

/* nav section */
.register-button {
    visibility: hidden;
}

/* header section */
.slider h5 {
    margin-top: 15px;
    font-size: 70px;
    margin-bottom: 20px;
}

.slider p {
    font-size: 20px;
    margin-bottom: 15px;

}

.slider button {
    font-size: 30px;
    margin-bottom: 0%;
}

/* .register section */

.register {
    padding-top: 80px;
    padding-bottom: 80px;
}

.register-col {
    text-align: left;
    padding-left: 100px;
}

/*-------------- 
mobile media query
-------------- */

@media only screen and (max-width:576px) {

    /* header section  */
    .slider h5 {
        margin-top: 25px;
        font-size: 25px;
        margin-bottom: 5px;
    }

    .slider p {
        font-size: 10px;
        margin-bottom: 5px;

    }

    .slider button {
        font-size: 10px;
        margin-bottom: 0%;
    }

    /* course section  */
    .course-col {
        display: none;
    }

    /* register selection */

    .register-col {
        text-align: center;
        padding-left: 0px;
        padding: 10px;
    }

    /* explore learning  section  */

    #about {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    #about span {
        display: none;
    }

    /* company section  */

    .company {
        display: none;
    }

    /* meet our successfull student section */

    .success-4 {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {

    /* header section  */
    .slider h5 {
        margin-top: 25px;
        font-size: 50px;
        margin-bottom: 15px;
    }

    .slider p {
        font-size: 20px;
        margin-bottom: 15px;

    }

    .slider button {
        font-size: 30px;
        margin-bottom: 0%;
    }

    /* navbar section  */
    .register-button {
        visibility: visible;
        margin-left: 270px;
    }

    /* course section  */

    .course-col {
        display: none;
    }

    /* register section */

    .register-col {
        text-align: center;
        padding-left: 0px;
    }

    /* explore learning  section  */

    #about {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    #about span {

        display: none;
    }

    /* company section  */

    .company {
        display: none;
    }
}